* {
  box-sizing: border-box;
}
.main-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.wallpaperscraft.com/image/single/city_street_movement_136678_1920x1080.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 65vh;
}
.profile-card {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  margin: 1rem;
}
.col-1-pc2 {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  color: white;
  opacity: 0.8;
  background-color: rgba(245, 245, 245, 0.561);
  border: solid 3px black;
}
.col-1-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.profile-pic {
  width: 125px;
  height: 125px;
  border-radius: 100px;
  object-fit: cover;
}
.col-1-links2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
}
.col-1-links2 > a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}
.col-1-links2 > a:hover {
  text-decoration: none;
  font-weight: bold;
  font-weight: 900;
}
.col-2-pc2 {
  display: flex;
  flex-direction: column;
  width: 35rem;
  color: white;
  opacity: 0.8;
  background-color: rgba(245, 245, 245, 0.561);
  margin: 1rem;
  border: solid 3px black;
}
.userData-cols {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.col-2-userData-1-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}
.col-2-userData-2-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}
.col-2-userData-1-2 > input {
  color: white;
  border: none;
  padding-bottom: 5px;
  outline: none;
  width: 15rem;
}
.col-2-userData-1-2 > label {
  font-weight: bold;
  text-transform: uppercase;
}

.col-2-userData-2-2 > input {
  color: white;
  border: none;
  padding-bottom: 5px;
  outline: none;
  width: 15rem;
}
.col-2-userData-2-2 > label {
  font-weight: bold;
  text-transform: uppercase;
}

.col-2-userData-2-2 > input::placeholder {
  text-align: left;
}
.col-2-userData-1-2 > input::placeholder {
  text-align: left;
}
.header-columns-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.col-2-header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.btn-edit-profile {
  border-radius: 50px;
  padding: 5px;
  font-weight: bold;
  margin: .5rem;
}
.btn-edit-profile:hover {
  border-radius: 50px;
  padding: 5px;
  font-weight: bold;
}

@media screen and (max-width: 1024px){
  .profile-card{
    flex-direction: column;
  }
  .userData-cols {
    flex-direction: column;
  }
  .col-2-pc2{
    width: 19rem;
  }
}
@media screen and (max-width: 768px){
  .col-1-pc2{
    width: 19rem;
  }
  .col-2-pc{
    width: 19rem;
  }
}