.main-nav-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 20vh;
    font-weight: 700;
    background-color: black;
}
.buton-nav-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 0.2rem;
}